src/main/mule/mulemunit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec1c5d9b-8970-4055-9c26-7d193a590650" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulemunitFlow" doc:id="cdb22473-a882-4486-b23e-1538d274f91d" >
		<http:listener doc:name="Listener" doc:id="f6f609b8-c93f-4564-85d0-b9cf207b193c" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e445f3cd-5f45-43bd-abb8-d16c5b3617f5" />
		<logger level="INFO" doc:name="Logger" doc:id="c21e5322-a817-4f18-bb80-8a27763d4e01" />
	</flow>
</mule>
